<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Betting</title>
</head>
<body>
    <h1><%= player.name %></h1>
    <p>Team: <%= player.team %></p>
    <p>Position: <%= player.position %></p>
    <p>Age: <%= player.age %></p>
    <a href="/players/<%= player.id %>/edit">Edit</a>
    <form action="/players/<%= player.id %>?_method=DELETE" method="POST">
         <input type="submit" value="DELETE">
    </form>

</body>
</html>